/* Conteúdo */

.section{
    margin: 15px 0 0 15px;
}

.section-title{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
}

.section-title::after{
    content:"";
    height: 3px;
    background-color:#f5f7fa;
    flex:1;
    border-radius: 5px;
}

.container{
    background-color: #2d333d;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap: wrap;
    margin: 10px;
}


/* Sobre Mim */

.about-container{
    flex:1;
    text-align:justify;
    margin: 0 3px 0 3px;
    display: flex;
    flex-direction: column;
}

.social-container{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 12px;
}

.social-item{
    margin: 0;
    padding: 0;
}

.social-icon{
    display: flex;
    align-items: center;

    gap: 12px;

    text-decoration: none;

    color: #63E6BE;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.social-icon img{
    width: 32px;
    height: 32px;

    padding: 6px;

    object-fit: contain;

    background-color:#63E6BE;

    border: 2px solid #63E6BE;
    border-radius: 50%;

    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
}

.social-container p{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#63e6be;
}

.profile-pic{
    margin: 5px 3px 3px 5px;
    float:right;
    width: 368px;
    height: 460px;
    border-radius: 15px;
}

/* Habilidades */
#skills-container{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.skill-category {
    background-color: #2D333D;
    border: 5px solid #343B45;
    border-radius: 14px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;

    overflow: hidden;

    transition:
        border-color 0.3s ease,
        transform 0.3s ease;
}


.skill-category:hover {
    background-color:#171C23;
    border-color: #426B60;

    transform: translateY(-2px);
}

.skill-category[open] {
    border-color: #63e6be;
    
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

.skill-category summary {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 20px;

    cursor: pointer;

    list-style: none;
}

.skill-category summary::-webkit-details-marker {
    display: none;
}

.skills-list {
    padding: 0 20px 20px;

    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 96%;
    min-height: 42px;

    margin: 0 10px 8px 0;
    padding: 8px 12px;

    background-color: #232831;
    border-radius: 8px;

    box-sizing: border-box;
}

.skill-name {
    flex: 0 0 100px;

    color:#f5f7fa;
    font-weight: 500;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    min-width: 40px;

    padding: 0 8px;

    box-sizing: border-box;

    background-color: #bae9dc;
    color: #2d333d;

    border-radius: 4px;

    transition: width 0.5s ease;
}

.skill-level{
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}



