<header>
        <div class="header-container">

            <img data-src="assets/img/Logo.png" alt="Logo" class="logo">
            
            <div class="title-container">    
                <h1 class="site-title">Davi Dias D'Avila</h1>
                <h2 class="site-subtitle">Desenvolvedor Focado em Dados</h2>
            </div>

                <ul class="links">
                    <li><a data-route="index.html">Home</a></li>
                    <li><a data-route="index.html#about">Sobre Mim</a></li>
                    <li><a data-route="index.html#skills">Habilidades</a></li>
                    <li><a data-route="index.html#projects">Projetos</a></li>
                    <li><a data-route="index.html#courses">Cursos e Certificações</a></li>
                </ul>

        </div>
</header>